<div class="search" >
    <form method="GET" action="/news">
    <div class="mb-3 mt-4 ml-4">
        <label for="search-input">Enter text to search</label>
        <input type="text" class="form-control" id="search-input" 
        name="q" placeholder="enter text"> 
    </div>
    <button type="submit" class="btn btn-primary">search</button>
    </form>
</div>